<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold">Welcome to Quiz App</h1>
    <p class="col-md-8 fs-4">This Quiz will contain total 9 Questions.</p>
    <h4>Rules:</h4>
    <ol>
        <li>Correct Question gives you 10 points</li>
        <li>Incorrect Question gives you -10 points</li>
        <li>You will have 60 sec to answer each Question</li>
        <li>Refreshing the page will reset the Quiz</li>
    </ol>

    <h1 style="font-family: cursive; text-align: center;">All the best!!!</h1>

    <div class="name col-md-4 my-3">
        <label for="" class="fw-bold">Enter Your Name:</label>
        <input #name type="text" class="form-control">
    </div>
    <button  class="btn btn-primary btn-lg" (click)="startQuiz()" routerLink="/question">Start the Quiz</button>
</div>